@model MvcStore.Models.Cart
@{double a = 0.0;}
@{
    ViewData["Title"] = "Index";
}

<h1>Your Shopping Cart</h1>

<p>
     <form asp-action="ShopView">
    <input type="submit" value="Shop For Items" class="btn btn-primary" /> 

    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total Price
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShoppingCart) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Quantity)
            </th>
            <th>
                @(item.Quantity * item.TotalPrice)
                
                @{a += item.Quantity * item.TotalPrice;}
            </th>
            <td>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    
</table>

<tr>Your Session Total: $@a</tr>
 